.html {
    font-family: "Poppins", sans-serif;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-left: 100px;
    margin-top: 10px;
}
.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
  }
.navbar a:hover {
    background: #979797;
    color: black;
}
#logo {
    font-weight: bolder;
}
.contenido{
    padding: 16px;
    margin-top: 100px;
    height: 1500px; 
    margin-left: 100px;
}
