
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-left: 100px;
    background-color: #ffffff;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
  }
.navbar a:hover {
    background: #0084a3;
    color: black;
}
#logo {
    font-family: "Montserrat ExtraBold" ;
    font-size: 35px;
    padding: 17px 20px;
}

/*
#logo {
    float: left;
    display: block;
    margin-top: 8px;
    margin-right: 10px;
    height: 30px;
    width: 80px;
}
*/

.contenido{
    padding: 30px;
    margin-top: 130px;
    height: 1500px; 
    margin-left: 100px;
    font-family: "Montserrat" ;
}

